@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/* floatの解除 */
.clearfix::after {
    content: "";
    clear: both;
    display: block; 
}

/* リストのマーカーを削除 */
li {
    list-style-type: none;
    text-decoration: none;
}

/* 装飾を削除 */
a {
    text-decoration: none;
}