@charset "utf-8";

table {
    background-color: bisque;
    border-collapse: collapse;
    margin-bottom: 80px;
}

th {
    text-align: center;
    padding: 4px 24px;
    border: 1px solid coral;
}

td {
    text-align: center;
    padding: 4px 24px;
    border: 1px solid coral;
}

#loading {
    display: none;
}

.waiting {
    width: 96px;
    height: 96px;
}
